.container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 20px; 
  padding: 20px;
  width: 100%; 
  box-sizing: border-box; 
}

.card {
  width: 380px;
  padding: 20px;
  border: none;
  border-radius: 15px;
  background-color: #F5E5D8; 
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer; 
  transition: transform 0.3s ease-in-out;
  margin: 20px auto; 
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
}

.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.headerText {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 15px;
  color: #000;
}

.content {
  font-size: 1.2rem;
  color: #444;
  margin-top: 10px;
}

.description {
  max-height: 0; 
  overflow: hidden; 
  opacity: 0;
  color: #666;
  font-size: 1rem;
  margin-top: 15px;
  transition: max-height 0.5s ease, opacity 0.5s ease; 
}

.description.open {
  max-height: 500px; 
  opacity: 1;
}

.button {
  background-color: #fff;
  color: #000;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

.button:hover {
  background-color: #f0f0f0;
}